.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #43b29d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 220px;
  height: 170px;
  
}