<header class="review-header">
  <%= link_to image_tag('movie-logo.png' , size: '185x130'), "/" %>
</header>

<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @reviews.each do |review| %>
    <%= render partial: "reviews/review", locals: { review: review } %>
  <% end %>
</div>